alias gs="git status"
alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias gaa="git add ."
alias gc="git commit -m"
alias gp="git push"
alias nah="git reset --hard && git clean -df"
alias code="cd ~/code"
alias artisan="php artisan"
alias phpunit="vendor/bin/phpunit"
alias als="vim ~/.aliases"
alias p="phpunit"
alias pf="phpunit --filter"
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl ."
alias redis="brew services start redis"
